Flask
Flask-SQLAlchemy
Flask-Script
Flask-Migrate
Flask-Assets
Flask-Mail
flask-wtf
flask-login
flask-bootstrap
flask-moment
flask-babel
psycopg2-binary
schedule
daemon
lockfile
loguru
jsmin
cssmin
pika
pylint
python-slugify
pyjwt
guess-language-spirit
